.navbar-brand {
	border-right: 2px solid #484848;
	padding-right: 15px;
}

.search-form {
	input, a {
		border-radius: 0px;
		border: 0;

	}
	input {
		width: 200px !important;
		transition: width 0.3s;
		&:focus {
			width: 300px !important;
		}
	}
}

.top-nav .navbar {
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.main-nav {
	position: fixed;
	height: 100vh;
	width: 4rem;
	text-align: center;
	top: 0;
	padding-top: 54px;
	background: darken($brand-inverse, 5%);
	li {
		padding-top: 1.5rem;
		i {
			display: block;
			padding-top: 0.2rem;
		}
		a {
			color: $gray-light;
		}
		a.top-nav-active-link {
			color: #fff;
		}
	}
	.versionNumber {
		position: absolute;
		bottom: 0;
		color: #ddd;
		left: 15px;
	}
}

.back-link {
	position: fixed;
	top: 1rem;
	right: 2rem;
	z-index: 1000;
	button {
		border-radius: 50%;
		border: none;
		background: #fff;
		&:focus {
			outline: none;
		}
	}
	i {
		font-size: 2rem;
		color: #777777;
	}
}
