.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.show-details-overview {
	color: #fff;
	min-height: 100vh;
}

.show-note {
	font-size: 2rem;
	margin: 0 auto;
  display: block;
  width: 125px;
}

.cast-item {
	vertical-align: top;
}

.cast-item__image {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	object-fit: cover;
	border: 2px solid #fff;
}

.cast-item__name {
	max-width: 170px;
}

.show-popularity {
	border-radius: 50%;
	border: 2px solid #fff;
	width: 100px;
	height: 100px;
	line-height: 92px;
  font-size: 1.7rem;
  background: #5bc0de;
	margin: 0 auto;
}

.show-details-videos-content {
	height: 300px;
	width: auto;
	overflow: hidden;
	overflow-x: auto;
	white-space: nowrap;
}

.season-overview p{
	max-height: 200px;
  overflow-y: auto;
}

.episode-list {
	flex-flow: row nowrap;
	max-height: 500px;
	overflow-x: auto;
	overflow-y: auto;
	padding-bottom: 1rem;
}

.episode {
	align-self: flex-start;
	.nav-tabs {
		background: #000110;
	}
	.tab-pane {
		 background: #000110;
		 label {
			 color: #ccc;
		 }
	}
	.card-img-overlay {
		z-index: -1;
	}
	img {
		width: 400px;
	}
	.card-title {
		font-size: 18px;
		font-weight: bold;
		text-align: center;
	}
	.card-text {
		text-align: center;
	}
}

// Torrents

.show-details-torrents {
	background: #000110;
	border-top: 5px solid #fff;
	h4 {
		color: #fff;
		margin-bottom: 2rem;
		font-weight: bold;
		text-align: center;
	}
	label {
		color: #ccc;
	}
}

// .torrents, .new-torrent {
// 	padding: 2rem 4rem;
// }

.new-torrent {
	border-left: 1px solid #191925;
}

.torrent-item {
	padding: 0;
	border: none;
	margin-bottom: 2px;
	background: rgb(10, 18, 19);
	&:hover {
		background: darken(rgb(10, 18, 19), 5%);
	}
	a {
		font-size: 12px;
		color: #ccc;
		display: block;
		padding: 0.2rem 0.2rem 1.3rem 2rem;
		text-decoration: none;
	}

	.checked-torrent {
		position: absolute;
    right: 10px;
    top: 18px;
		color: $brand-success;
	}

	.torrent-votes {
		position: absolute;
		bottom: 0;
		left: 2rem;
		font-size: 12px;
		color: #ccc;
	}
}

.torrents-list-empty {
	text-align: center;
	padding: 2rem 0;
	margin-bottom: 0;
	color: #ccc;
}
