.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.show {
	color: #fff;
	min-height: 100vh;
}

.show-popularity {
	border-radius: 50%;
	border: 2px solid #fff;
	width: 100px;
	height: 100px;
	line-height: 92px;
  font-size: 1.7rem;
  background: #5bc0de;
	margin: 0 auto;
}

.show-note {
	font-size: 2rem;
	margin: 0 auto;
  display: block;
  width: 125px;
}

.cast-image {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	object-fit: cover;
	border: 2px solid #fff;
}

.magnets {
	max-height: 800px;
	overflow-y: overlay;
}

ul.show-details-magnet {
	background: rgba(51, 51, 51, 0.37);
	border-radius: 5px;
	padding-left: 0;
	li {
		list-style-type: none;
		padding: 0.5rem 1rem;
		color: #fff;
		border-bottom: 1px solid #333;
	}
	a  {
		color: #afafaf;
	}
	p {
		word-wrap: break-word;
		font-size: 12px;
		color: #fff;
	}
}

.show-details-videos-content {
	height: 300px;
	width: auto;
	overflow: hidden;
	overflow-x: auto;
	white-space: nowrap;
}

.episode-header {
	position: relative;
	display: inline-block;
	width: 250px;
	height: 141px;
	border: 1px solid #2d2d2d;
	img {
		opacity: 0.4;
		width: 250px;
	}
	span {
		position: absolute;
		top: 40%;
		text-align: center;
		font-weight: 600;
		width: 100%;
	}
	&:hover {
		img {
			opacity: 0.5;
		}
	}
}

.episode-magnets li{
	background: $brand-success;
	margin-top: 5px;
	list-style-type: none;
	padding: 2px 5px;
	border-radius: 5px;
}
