$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

$brand-primary:             #B2DFDB !default;
$brand-success:             #5cb85c !default;
$brand-info:                #5bc0de !default;
$brand-warning:             #f0ad4e !default;
$brand-danger:              #d9534f !default;
$brand-inverse:             $gray-dark !default;

$body-bg: #333;

// $input-bg: #353535 !default;
// $input-border-color:             #353535 !default;
// $input-border-focus:             #353535 !default;

$btn-secondary-color:            $gray-lightest !default;
$btn-secondary-bg:               #353535 !default;
$btn-secondary-border:           #353535 !default;

$enable-flex: true;

$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-demibold: 600;
$font-semibold: 700;
$font-bold: 900;

$font-family-sans-serif: "Baufra", "Helvetica Neue", Helvetica, Arial, sans-serif;
